.containerCart .cartIcon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 10px 20px;
}

.cartNumber {
    position: absolute;
    font-size: 15px;
    top: 4px;
    right: 15px;
    color: #0C0D12;
}

.containerCart {
    position: relative;
}