@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  nav {
    background-color: #F9F5EA;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;


  }
  
  .nav-icons, .left-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  .nav-icons {
    margin-right: 25px;
  }
  
  .left-icons img {
    width: 20px;
    margin-right: 10px;
  }
  
  .left-links a {
    text-decoration: none;
    color: #0C0D12;
    margin: 0 10px;
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 3%;
    line-height: 32px;
    list-style: none;
  }
  
  .logo {
    width: 180px;
    margin-right: 240px;
  }
  
  
  button:hover {
    background-color: #C9A489;
  }

  